<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Привет, Скрудж МакДак!</h1>
<p> сейчас у тебя есть данные категории. Ты можешь поменять их название или добавить новую</p>
<tr th:each="category : ${categories}">
    <td><span th:text="${category.getName()}"> Название категории </span></td>
    <td><span th:text="${category.getType()} ? 'доход' : 'расход'"> Название категории </span></td>
    <td><a th:href="@{/category/{id}(id=${category.getId()})}"> Редактировать </a></td>
    <br>
</tr>


<form th:action="@{/category}" method="post">
    <label>.
        <input type="text" class="form_input" name="categoryName" placeholder="Имя категории">
    </label>
    <label>
        <input type="text" class="form_input" name="type" placeholder="расход/доход">
    </label>


    <button class="form_button" type="submit">Добавить категорию</button>
</form>




</body>
</html>