<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Awesome application</title>


  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <article class="article article_bluebg article_third">
    <h2 class="black">Здорово, что ты уже с нами!</h2>
    <p class="black">Введи свои данные (мы не подглядываем) ведь show must go on! :)</p>
    <form th:action="@{/login}" method="post" class="form">
      <label>
        <input type="text" class="form_input" name="username" placeholder="Логин">
      </label>
      <label>
        <input type="password" class="form_input" name="password" placeholder="Пароль">
      </label>
      <button class="form_button" type="submit">Войти</button>
    </form>


    <br>
    <br>
    <p class="white">Что-то передумал, хочу на <a href="/main" class="white"> главную страницу</a> </p>
  </article>


</body>
</html>
