<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Awesome application</title>
   <link rel="stylesheet" href= "css/style.css">

</head>
<body>


  <header class="header">
    <h1 class="header__title article_bluebg">Привет,<br>мот!*</h1>
  </header>
  <p class="description">*Мот - расточительный человек<p>

  <article class="article article_first">
    <br>
    <br>
    <br>
    <h2 class="black article_bluebg">"Я не мот,<br>   Я знаю цену деньгам"</h2>
    <br>
    <br>
    <p class="black">Писал великий классик  <strong>А.С. Пушкин</strong> в <strong>"Пиковой Даме"</strong>, а наша команда поможем тебе начать управлять своими расходами и доходами!</p>
    <br>
    <p class="black"> <a href="/registration"> Регистрируйся </a> или <a href="/login"> заходи в личный кабинет </a>  и уже сегодня ты станешь гуру своего финансового потока!</p>
    <br>
    <p class="bonus"> <a href="/eegg"> бонус;) </a></p>
  </article>


</body>
</html>
