<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>useredit</title>
</head>
<body>
<form th:action="@{/users}" th:method="post">
    <input type="text" name="name" th:value="${user.getUserName()}">
    <input type="hidden" name="userId" th:value="${user.getId()}">
    <tr th:each="role : ${roles}">
        <div>
            <label><input type="checkbox" th:name = "${role}"> <a th:text="${role}"></a> </label>
        </div>
    </tr>
<button type="submit">Сохранить</button>
</form>

</body>
</html>